<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbzl.dev.ibom.system.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.hbzl.dev.ibom.system.model.User" >
    <id column="id_" property="id" jdbcType="VARCHAR" />
    <id column="user_name_" property="userName" jdbcType="VARCHAR" />
    <result column="password_" property="password" jdbcType="VARCHAR" />
    <result column="real_name_" property="realName" jdbcType="VARCHAR" />
    <result column="sex_" property="sex" jdbcType="VARCHAR" />
    <result column="age_" property="age" jdbcType="VARCHAR" />
    <result column="id_card_num_" property="idCardNum" jdbcType="VARCHAR" />
    <result column="phone_num_" property="phoneNum" jdbcType="VARCHAR" />
    <result column="email_" property="email" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id_, user_name_, password_, real_name_, sex_, age_, id_card_num_, phone_num_, email_
  </sql>
  
  	<sql id="Choose_Column_List">
		<foreach item="item" index="index" collection="list" open=""
			separator="," close="">
			${item}
		</foreach>
	</sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.hbzl.dev.ibom.system.model.UserKey" >
    select 
    <include refid="Base_Column_List" />
    from system_user
    where id_ = #{id,jdbcType=VARCHAR}
      and user_name_ = #{userName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.hbzl.dev.ibom.system.model.UserKey" >
    delete from system_user
    where id_ = #{id,jdbcType=VARCHAR}
      and user_name_ = #{userName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hbzl.dev.ibom.system.model.User" >
    insert into system_user (id_, user_name_, password_, 
      real_name_, sex_, age_, 
      id_card_num_, phone_num_, email_
      )
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, 
      #{idCardNum,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hbzl.dev.ibom.system.model.User" >
    insert into system_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id_,
      </if>
      <if test="userName != null" >
        user_name_,
      </if>
      <if test="password != null" >
        password_,
      </if>
      <if test="realName != null" >
        real_name_,
      </if>
      <if test="sex != null" >
        sex_,
      </if>
      <if test="age != null" >
        age_,
      </if>
      <if test="idCardNum != null" >
        id_card_num_,
      </if>
      <if test="phoneNum != null" >
        phone_num_,
      </if>
      <if test="email != null" >
        email_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null" >
        #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hbzl.dev.ibom.system.model.User" >
    update system_user
    <set >
      <if test="password != null" >
        password_ = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name_ = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex_ = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age_ = #{age,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null" >
        id_card_num_ = #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null" >
        phone_num_ = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email_ = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where id_ = #{id,jdbcType=VARCHAR}
      and user_name_ = #{userName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hbzl.dev.ibom.system.model.User" >
    update system_user
    set password_ = #{password,jdbcType=VARCHAR},
      real_name_ = #{realName,jdbcType=VARCHAR},
      sex_ = #{sex,jdbcType=VARCHAR},
      age_ = #{age,jdbcType=VARCHAR},
      id_card_num_ = #{idCardNum,jdbcType=VARCHAR},
      phone_num_ = #{phoneNum,jdbcType=VARCHAR},
      email_ = #{email,jdbcType=VARCHAR}
    where id_ = #{id,jdbcType=VARCHAR}
      and user_name_ = #{userName,jdbcType=VARCHAR}
  </update>
  
	<select id="verifyUser" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Choose_Column_List" />
		from system_user
		where user_name_ = #{userName,jdbcType=VARCHAR} and
		password_ =
		#{password,jdbcType=VARCHAR}
	</select>  
</mapper>